* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,.87);
}

.demo-wrap {
  max-width: 760px;
  padding: 40px 16px 100px;
  margin: 0 auto;
}

.headline {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .0125em;
  line-height: 2rem;
  border-bottom: 1px solid currentColor;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .00937em;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 24px;
  background-color: #F2F2F2;
}

.slider {
  width: 100%;
}

.demo-box {
  margin-top: 32px;
}
